## Visual Studio & Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## SQLite & Local DB files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

## Temporary & Test files
*.tmp
*.log
.test_perm
